@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 20px;
    height: 20px;
    width: 0.8em;
}

::-webkit-scrollbar-track {
    margin-block: 1em;
    border-radius: 100vh;
    background: rgb(241, 230, 232);
}

::-webkit-scrollbar-thumb {
    background:rgb(157, 75, 235);
    border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
    background:blueviolet;
}

html{
    scroll-behavior: smooth;
}

@media screen and (max-width:400px) {
    nav{
        display: none;
    }
}
